button {
  @extend %fontGeneral;
  border: 0;
  background-color: transparent;
  font-weight: 300;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.ka-scroll-btn {
  position: absolute;
  bottom: 60px;
  left: 60px;
  z-index: 9;
  @extend %ka-fC;
  @extend %ka-fAI-center;
  font-weight: 200;
  font-size: 14px;
  color: white;
  &:before {
    content: '';
    display: block;
    min-width: 32px;
    min-height: 32px;
    background-image: url(../img/icons/white/scroll-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
  }
  &:hover {
    opacity: 0.5;
  }
}

.ka-sound-btn {
  position: absolute;
  bottom: 60px;
  right: 60px;
  z-index: 9;
  @extend %ka-fC;
  @extend %ka-fAI-center;
  font-weight: 200;
  font-size: 14px;
  color: white;
  &:after {
    content: '';
    display: block;
    min-width: 32px;
    min-height: 32px;
    background-image: url(../img/icons/white/sound-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
  }
  &:hover {
    opacity: 0.5;
  }
}

%ka-btn {
  @extend %ka-fC;
  @extend %ka-fAI-center;
  font-weight: bold;
  color: #333;
  border: 2px solid #333;
  min-width: 280px;
  max-width: 400px;
  text-decoration: none;
  line-height: 24px;
  &>div {
    padding: 10px 20px;
    @extend %ka-fOne;
    text-align: left;
  }
  .ka-arrow-right {
    margin-right: 20px;
    margin-left: 20px;
    display: block;
    min-width: 32px;
    min-height: 32px;
    background-image: url(../img/icons/color/arrow-orange-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &.ka-big {
    max-width: 320px;
    width: 100%;
    &>div {
      padding: 20px;
    }
  }
}

.ka-orange-btn {
  @extend %ka-btn;
  color: $orange;
  border-color: $orange;
  .ka-arrow-right {
    background-image: url(../img/icons/color/arrow-orange-icon.png);
  }
  &:hover {
    background-color: $orange;
    color: white;
    .ka-arrow-right {
      background-image: url(../img/icons/white/arrow-icon.png);
    }
  }
}

.ka-white-btn {
  @extend %ka-btn;
  color: white;
  border-color: white;
  .ka-arrow-right {
    background-image: url(../img/icons/white/arrow-icon.png);
  }
  &:hover {
    background-color: $orange;
    color: white;
    border-color: $orange;
    .ka-arrow-right {
      background-image: url(../img/icons/white/arrow-icon.png);
    }
  }
}