$size-icon1:32px;
$size-icon2:24px;
$size-icon3:18px;
$size-icon4:16px;
$size-icon5:14px;
$size-icon6:12px;
%ka-fsRob {
  font-family: 'Roboto', sans-serif; //font-family: 'Fira Sans Condensed', sans-serif;
}

.ka-fsRob {
  @extend %ka-fsRob;
}

//float
.ka-fLeft {
  float: left;
}

.ka-fRight {
  float: right;
}

//cursor
.ka-cp {
  cursor: pointer;
}

.ka-noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  moz-user-select: none;
  ms-user-select: none;
  user-select: none;
}

//FORMAT===================================
//format ul li
%ka-ul {
  margin: 0;
  padding: 0;
  list-style: none;
  &.ka-list-circle-el {
    list-style-type: circle;
    margin-left: 16px;
  }
}

.format-UL,
.ka-ul {
  @extend %ka-ul;
}

//DIVISION=======================
%ka-clear {
  &:before {
    content: " ";
    display: table;
  }
  width: 100%;
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

//BOXSHADOW=========
.ka-shadow {
  box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.15);
}

//ELLIPSIS===========================
%ka-ell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ka-ell {
  @extend %ka-ell;
}

//WIDTH==================
.ka-w100p {
  width: 100%;
}

.ka-w100vw {
  width: 100vw;
}

//HEIGHT==================
.ka-h100p {
  height: 100%;
}

.ka-h100vh {
  height: 100vh;
}

.ka-avoidClick {
  pointer-events: none;
}

%ka-pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ka-pos-center {
  @extend %ka-pos-center;
}

.ka-label {
  display: block;
  margin-bottom: 7px;
  color: $grey3;
}

.ka-title-dec-red,
.ka-title-dec-white,
.ka-title-dec-orange {
  position: relative;
  display: block;
  &:before {
    content: '';
    display: block;
    width: 30px;
    height: 10px;
    -ms-transform: skew(48deg, -24deg);
    /* IE 9 */
    -webkit-transform: skew(48deg, -24deg);
    /* Safari */
    transform: skew(48deg, -24deg);
    /* Standard syntax */
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.ka-title-dec-red {
  &:before {
    border: 2px solid $red;
  }
}

.ka-title-dec-orange {
  &:before {
    border: 2px solid $orange;
  }
}

.ka-title-dec-white {
  &:before {
    border: 2px solid white;
  }
}

.ka-title-line {
  position: relative;
  &:after {
    content: '';
    display: block;
    height: 2px;
    width: 100px;
    background-color: $colorMain;
    margin: 0 auto;
    margin-top: 15px;
  }
}

.ka-title-line-white {
  @extend .ka-title-line;
  &:after {
    background-color: white;
  }
}

.ka-title-line-orange {
  @extend .ka-title-line;
  &:after {
    background-color: $orange;
  }
}

.ka-square-wrap {
  position: relative;
  width: 100px;
  overflow: hidden;
  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  .ka-square {
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.ka-info {
  background-color: $blue;
  color: white;
  padding: 0 10px;
  border-radius: 20px;
  font-size: 16px;
}

.ka-title-set {
  position: relative;
  padding: 15px 20px;
  border-left: 3px solid $orange;
  @extend %ka-fC;
  @extend %ka-fAI-center;
  @extend %w-normal;
  i {
    position: relative;
    z-index: 1;
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 20px;
  }
  .ka-facebook-icon {
    background-image: url(../img/icons/color/facebook-icon.png);
  }
  div {
    position: relative;
    z-index: 1;
    @extend %ka-fOne;
    h2 {
      margin: 0;
      line-height: 28px;
      color: $blue;
      font-weight: bold;
    }
    sub {
      margin: 0;
      color: $grey2;
    }
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/pattern/bg_point_01.png");
    opacity: 0.5;
  }
}

.ka-list-row {
  @extend %ka-ul;
  @extend %w-normal;
  &>li {
    padding: 20px;
    border-bottom: 1px solid $grey6;
    &:last-child {
      border: 0;
    }
  }
}

.ka-link-btn {
  display: block;
  // color: $colorMain;
  color: $blue;
  text-decoration: none;
  .lnr {
    margin-right: 10px;
  }
  &:hover{
    color: $orange;
  }
}