
//PADDING============================
.ka-p0 {
  padding: 0px;
}

.ka-p3 {
  padding: 3px;
}

.ka-p5 {
  padding: 5px;
}

.ka-p7 {
  padding: 7px;
}

.ka-p10 {
  padding: 10px;
}

.ka-p15 {
  padding: 15px;
}

.ka-p20 {
  padding: 20px;
}

.ka-p30 {
  padding: 30px;
}

.ka-p40 {
  padding: 40px;
}

.ka-p50 {
  padding: 50px;
}

.ka-p60 {
  padding: 60px;
}

.ka-p80 {
  padding: 80px;
}

.ka-p100 {
  padding: 100px;
}

//left
.ka-pL0 {
  padding-left: 0px;
}

.ka-pL3 {
  padding-left: 3px;
}

.ka-pL5 {
  padding-left: 5px;
}

.ka-pL7 {
  padding-left: 7px;
}

.ka-pL10 {
  padding-left: 10px;
}

.ka-pL15 {
  padding-left: 15px;
}

.ka-pL20 {
  padding-left: 20px;
}

.ka-pL30 {
  padding-left: 30px;
}

.ka-pL40 {
  padding-left: 40px;
}

.ka-pL50 {
  padding-left: 50px;
}

.ka-pL60 {
  padding-left: 60px;
}

.ka-pL80 {
  padding-left: 80px;
}

.ka-pL100 {
  padding-left: 100px;
}

//right
.ka-pR0 {
  padding-right: 0px;
}

.ka-pR3 {
  padding-right: 3px;
}

.ka-pR5 {
  padding-right: 5px;
}

.ka-pR7 {
  padding-right: 7px;
}

.ka-pR10 {
  padding-right: 10px;
}

.ka-pR15 {
  padding-right: 15px;
}

.ka-pR20 {
  padding-right: 20px;
}

.ka-pR30 {
  padding-right: 30px;
}

.ka-pR40 {
  padding-right: 40px;
}

.ka-pR50 {
  padding-right: 50px;
}

.ka-pR60 {
  padding-right: 60px;
}

.ka-pR80 {
  padding-right: 80px;
}

.ka-pR100 {
  padding-right: 100px;
}

//top
.ka-pT0 {
  padding-top: 0px;
}

.ka-pT3 {
  padding-top: 3px;
}

.ka-pT5 {
  padding-top: 5px;
}

.ka-pT7 {
  padding-top: 7px;
}

.ka-pT10 {
  padding-top: 10px;
}

.ka-pT15 {
  padding-top: 15px;
}

.ka-pT20 {
  padding-top: 20px;
}

.ka-pT30 {
  padding-top: 30px;
}

.ka-pT40 {
  padding-top: 40px;
}

.ka-pT50 {
  padding-top: 50px;
}

.ka-pT60 {
  padding-top: 60px;
}

.ka-pT80 {
  padding-top: 80px;
}

.ka-pT100 {
  padding-top: 100px;
}

//bottom
.ka-pB0 {
  padding-bottom: 0px;
}

.ka-pB3 {
  padding-bottom: 3px;
}

.ka-pB5 {
  padding-bottom: 5px;
}

.ka-pB7 {
  padding-bottom: 7px;
}

.ka-pB10 {
  padding-bottom: 10px;
}

.ka-pB15 {
  padding-bottom: 15px;
}

.ka-pB20 {
  padding-bottom: 20px;
}

.ka-pB30 {
  padding-bottom: 30px;
}

.ka-pB40 {
  padding-bottom: 40px;
}

.ka-pB50 {
  padding-bottom: 50px;
}

.ka-pB60 {
  padding-bottom: 60px;
}

.ka-pB80 {
  padding-bottom: 80px;
}

.ka-pB100 {
  padding-bottom: 100px;
}