body {
  position: relative;
  background-color: #f7f6f4;
}

.ka-pref,
.ka-suf {
  display: block;
  position: fixed;
  top: 0;
  width: 48px;
  height: 100%;
  background-image: url("../img/pattern/bg_point_01.png");
  opacity: 0.3;
  z-index: 9;
  @media screen and (max-width: 512px) {
    display: none;
  }
}

.ka-pref {
  left: 0;
}

.ka-suf {
  right: 0;
}



.section{
  position: relative;
}



header,
content {
  position: relative;
  z-index: 1;
}

%w-desktop {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.w-desktop {
  @extend %w-desktop;
}

%w-normal {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.w-normal {
  @extend %w-normal;
}

%w-small {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.w-small {
  @extend %w-small;
}

.ka-breadcrumb {
  background-color: $grey8;
  padding: 10px 40px;
  font-size: 12px;
  @media screen and (max-width: 512px) {
    padding: 7px 10px;
  }
  a {
    margin-right: 10px;
    text-decoration: none;
    color: $grey4;
    &:last-child {
      color: $orange;
    }
    &:hover{
      color: $orange-d;
    }
  }
}