body {
  position: relative;
  background-color: #f7f6f4;
}

.ka-pref,
.ka-suf {
  display: block;
  position: fixed;
  top: 0;
  width: 48px;
  height: 100%;
  background-image: url("../img/pattern/bg_point_01.png");
  opacity: 0.5;
  z-index: 9;
}

.ka-pref {
  left: 0;
}

.ka-suf {
  right: 0;
}

%w-desktop {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

content,
section {
  display: block;
}

.ka-bg-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/bg/bg-main.png);
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  opacity: 0.5;
  z-index: 0;
}

header,
content {
  position: relative;
  z-index: 1;
}