.ks-slider-child {
  .owl-carousel {
    width: 100%;
    z-index: 1;
    height: 350px;
    .owl-stage-outer {
      height: 100%;
      .owl-stage {
        height: 100%;
        .owl-item {
          height: 100%;
          background-color: #bebebe;
          .item {
            position: relative;
            overflow: hidden;
            @extend %ka-fOne;
            @extend %ka-fC;
            @extend %ka-fAI-center;
            @extend %ka-fJC-center;
            height: 100%;
            img {
              @extend %ka-pos-center;
            }
            h1 {
              color: white;
              @extend %ka-pos-center;
              font-weight: 600;
              text-transform: uppercase;
            }
          }
        }
      }
    }
    .owl-dots {
      text-align: center;
      .owl-dot {
        margin: 0;
        padding: 5px;
        span {
          display: block;
          width: 10px;
          height: 10px;
          border: 1px solid $grey2;
          border-radius: 10px;
        }
        &.active {
          span {
            border: 0;
            background-color: $grey2;
          }
        }
      }
    }
    .owl-nav {
      display: none;
    }
  }
}

.ka-tabs-style {
  background-color: #212121;
  color: white;
  &>.ka-content {
    @extend %w-normal;
    padding: 60px 20px;
    &>ul {
      @extend %ka-ul;
      &>li {
        @extend %ka-fC;
        @extend %ka-fWrap;
        padding: 20px 0;
        &>.ka-btn {
          min-width: 200px;
          width: 20%;
          padding: 10px;
          @extend %ka-fC; // border-right: 1px solid $white7;
          text-decoration: none;
          color: white;
          text-align: center;
          &:last-child {
            &>.ka-content {
              &:before {
                display: none;
              }
            }
          }
          &>.ka-content {
            display: block;
            padding: 10px;
            width: 100%;
            position: relative;
            i {
              width: 90px;
              height: 90px;
            }
            p {
              margin: 0;
            }
            &:before {
              content: '';
              display: block;
              position: absolute;
              top: 0;
              right: -10px;
              width: 1px;
              height: 100%;
              background-color: $white7;
            }
            &:after {
              content: '';
              display: none;
              position: absolute;
              bottom: -10px;
              left: 0;
              width: 100%;
              height: 1px;
              background-color: $white7;
            }
          }
          &:hover,
          &.ka-active {
            background-color: $orange;
          }
        }
        &>.ka-des {
          padding: 20px;
          background-color: $grey6;
        }
      }
    }
  }
}