.ks-slider-child {
  .owl-carousel {
    width: 100%;
    z-index: 1;
    height: 350px;
    .owl-stage-outer {
      height: 100%;
      .owl-stage {
        height: 100%;
        .owl-item {
          height: 100%;
          background-color: #bebebe;
          .item {
            position: relative;
            overflow: hidden;
            @extend %ka-fOne;
            @extend %ka-fC;
            @extend %ka-fAI-center;
            @extend %ka-fJC-center;
            height: 100%;
            img {
              @extend %ka-pos-center;
            }
            h1 {
              color: white;
              @extend %ka-pos-center;
              font-weight: 600;
              text-transform: uppercase;
            }
          }
        }
      }
    }
    .owl-dots {
      text-align: center;
      .owl-dot {
        margin: 0;
        padding: 5px;
        span {
          display: block;
          width: 10px;
          height: 10px;
          border: 1px solid $grey2;
          border-radius: 10px;
        }
        &.active {
          span {
            border: 0;
            background-color: $grey2;
          }
        }
      }
    }
    .owl-nav {
      display: none;
    }
  }
}

.ka-tabs-course {
  background-color: #212121;
  color: white;
  &>.ka-content {
    @extend %w-normal;
    padding: 60px 20px;
    &>ul {
      @extend %ka-ul;
      &>li {
        @extend %ka-fC;
        @extend %ka-fWrap;
        border-bottom: 1px solid $white7;
        padding: 20px 0;
        &:last-child{
          border: 0;
        }
        &>div {
          min-width: 200px;
          width: 20%;
          @extend %ka-fC;
          border-right: 1px solid $white7;
          &:last-child{
            border: 0;
          }
          .ka-btn {
            display: block;
            width: 100%;
            padding: 20px;
            color: white;
            text-decoration: none;
            text-align: center;
            i {
              display: inline-block;
              width: 64px;
              height: 64px;
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
            }
            .ka-facebook-icon {
              background-image: url(../img/icons/color/facebook-icon.png);
            }
            p{
              margin: 0;
            }
            &:hover,
            &.ka-active {
              background-color: $orange;
            }
          }
        }
        &>.ka-des {
          padding: 20px;
          background-color: $grey6;
        }
      }
    }
  }
}