.ka-local-page {
  .ka-map {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 50vh;
    display: block;
    img {
      @extend %ka-pos-center;
      display: block;
      min-width: 100%;
      height: 100%;
    }
  }
  .ka-group-btn {
    position: relative;
    background-color: #212121;
    background-image: url(../img/bg/bg-support.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    @media screen and (max-width: 512px) {
      background-image: none;
    }
    &>.ka-content {
      @extend %w-normal;
      @extend %ka-fC;
      padding: 40px;
      @media screen and (max-width: 512px) {
        display: block;
        padding: 10px;
      }
      &>.ka-item {
        @extend %ka-fOne;
        text-align: center;
        @media screen and (max-width: 512px) {
          padding: 10px;
        }
        &>div {
          padding: 40px 20px;
          background-color: $orange;
          &>span {
            display: block;
            font-size: 72px;
            margin-bottom: 30px;
            color: white;
          }
          &:hover {
            background-color: $orange-dd;
          }
        }
      }
    }
  }
}

.ka-tab-wrap {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
  .ka-tab-btn {
    @extend %ka-fC;
    @extend %ka-fAI-center;
    @extend %ka-ul;
    border: 2px solid $orange;
    &>li {
      @extend %ka-fOne;
      text-align: center;
      &>a {
        display: block;
        color: $orange;
        padding: 20px;
        text-decoration: none;
        font-weight: bold;
        @media screen and (max-width: 512px) {
          padding: 10px 10px;
        }
      }
      &:hover {
        &>a {
          color: $orange-d;
        }
      }
      &.ka-active {
        background-color: $orange;
        &>a {
          color: white;
        }
      }
    }
  }
}

.ka-local-info {
  .ka-img {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    img {
      @extend %ka-pos-center;
      display: block;
      min-width: 100%;
      height: 100%;
    }
  }
  .ka-content {
    position: relative;
    margin-top: -15vh;
    @extend %w-normal;
    background-color: white;
    z-index: 1;
    @extend %ka-fC;
    @media screen and (max-width: 512px) {
      display: block;
    }
    &>div {
      padding: 40px;
      padding-bottom: 60px;
      @media screen and (max-width: 512px) {
        padding: 20px;
      }
      &:nth-child(1) {
        @extend %ka-fTwo;
        border-right: 1px solid $grey6;
        &>h1 {
          margin: 0;
          color: $blue;
          font-weight: bold;
        }
        p {
          margin-bottom: 60px;
        }
        &>ul {
          @extend %ka-ul;
          @extend %ka-fC;
          @extend %ka-fWrap;
          &>li {
            @extend %ka-fOne;
            min-width: 120px;
            text-align: center;
            margin-bottom: 20px;
            i {
              display: inline-block;
              width: 64px;
              height: 64px;
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
            }
            .ka-facebook-icon {
              background-image: url(../img/icons/color/facebook-icon.png);
            }
          }
        }
      }
      &:nth-child(2) {
        @extend %ka-fOne;
        background-color: $grey8;
      }
    }
  }
}